/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@import "../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
    font-family: 'Times New Roman', Times, serif !important;
}

.mat-toolbar.mat-primary {
    --mat-toolbar-container-background-color: #ffffff !important;
    --mat-toolbar-container-text-color: #800000 !important;
}

.footer-class {
    background-color: #800000;
    color: white;
    text-align: center;
    padding: 0.5rem !important;
}

.no-show {
    display: none !important;
}


@media print {
    @page {
        size: auto !important;
        margin: 4mm 2mm !important;
    }

    html {
        font-family: 'Times New Roman', Times, serif;
    }

    html,
    body {
        width: 100%;
        height: auto !important;
        overflow: visible !important;
        font-family: 'Times New Roman', Times, serif;
    }

    * {
        overflow: visible !important;
        box-shadow: none !important;
    }

    .no-print {
        display: none !important;
    }

    .no-show {
        display: inline !important;
    }
}